h1 {
	color: pink; 
	background-color: black;
	opacity: 0.75;
	/*調整透明度*/
	text-align: center;
	/*讓h1置中*/
}
h1:hover {
	font-size: 48px;
	/*調整字體大小*/
	background-color: gray;
}
h2 {
	text-shadow: 3px 3px 6px pink;
	/*設定字的陰影*/
}
hr {
	color: gray;
}
table {
	background-color: pink;  
	border: 3px;
}
